:root {
  line-height: 24px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  touch-action: none; /* disable pinch zoom */
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  width: 100dvw;
  height: 100dvh;
}

canvas {
  outline: none;
}